# IDE
.vscode
.idea

# Web-player
/harvest/web-player/src/config.json
/harvest/web-player/package-lock.json

# Terraform
lambda_zip_dir
lambda_zip_file.zip
lambda_python_layer_dir
lambda_python_layer_file
.terraform*
terraform.tfstate*
tf-apply.out
tf-destroy.out

# Tools
.tool-versions
